<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Spring One</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Каталог</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.price}"/>
            <!--            <td>-->
            <!--                <a th:text="${p.title}" th:href="@{'/products/' + ${p.id}}"></a>-->
            <!--            </td>-->
            <!--            <td>-->
            <!--            <td th:text="${p.title}"/>-->
            <!--                <span th:text="${p.price}"/>-->
            <!--                <a class="btn btn-primary" th:href="@{'/products/' + ${p.id} + '/price/inc'}">+</a>-->
            <!--            </td>-->
            <td th:text="${p.category.title}"/>

            <td>
                <a class="btn btn-danger" th:href="@{'/products/delete/' + ${p.id}}">Удалить запись</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--    <nav aria-label="Page navigation" th:if="${page.getTotalPages() > 1}">-->
    <!--        <ul class="pagination">-->
    <!--            <li class="page-item" th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">-->
    <!--                <a th:class="page-link" th:text="${i}" th:href="@{'/?p=' + ${i}}"></a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </nav>-->

    <a th:href="@{/products/add}" class="btn btn-primary">Добавить новый товар</a>
    <a th:href="@{/products/sort/high}" class="btn btn-primary">Сортировать по возрастанию</a>
    <a th:href="@{/products/sort/low}" class="btn btn-primary">Сортировать по убыванию</a>
</div>
</body>
</html>