<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Spring One</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Добавить новый продукт</h1>

        <form method="POST" th:action="@{/products/add}">
            <div class="mb-3">
                <label for="titleField" class="form-label">Название</label>
                <input type="text" class="form-control" id="titleField" name="title">
            </div>
            <div class="mb-3">
                <label for="priceField" class="form-label">Цена</label>
                <input type="number" class="form-control" id="priceField" name="price">
            </div>
            <div class="mb-3">
                <label for="categoryField" class="form-label">Категория</label>
                <input type="text" class="form-control" id="categoryField" name="category">
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>

        <a th:href="@{/}">На главную страницу</a>
    </div>
</body>
</html>