<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Spring One</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Добавить нового студента</h1>

        <form method="POST" th:action="@{/students/create}">
            <div class="mb-3">
                <label for="idField" class="form-label">ID</label>
                <input type="number" class="form-control" id="idField" name="id">
            </div>
            <div class="mb-3">
                <label for="nameField" class="form-label">Имя студента</label>
                <input type="text" class="form-control" id="nameField" name="name">
            </div>
            <div class="mb-3">
                <label for="scoreField" class="form-label">Балл</label>
                <input type="number" class="form-control" id="scoreField" name="score">
            </div>
            <div class="mb-3">
                <label for="scoreField" class="form-label">Что-нибудь</label>
                <input type="number" class="form-control" id="somethingField" name="something">
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>

        <a th:href="@{/}">На главную страницу</a>
    </div>
</body>
</html>