<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Spring One</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Добавить новый продукт</h1>
        <!-- http://localhost:8189/app/products/create?id=10&name=Nicolas&score=90 -->
        <form method="POST" th:action="@{/product/create}">
            <input type="number" name="id">
            <input type="text" name="name">
            <input type="number" name="score">
            <button type="submit">Создать</button>
        </form>
        <!-- http://localhost:8189/app/students/create?id=10&name=Nicolas&score=90 -->
    </div>
</body>
</html>